{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    <form class="searchform cf">
        <input type="text">
        <button type="submit">Search</button>
        <div class="result">

        </div>
    </form>
{% endblock body %}